#s-da1dde3f-89ca-4889-82ea-c360bf470e8d > #backgroundBox {
  position: absolute;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d > #alignmentBox {
  position: relative;
  max-width: 408.0px;
  max-height: 830.0px;
  width: 100%;
  height: 100%;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 {
  position: absolute;
  width: 409.0px;
  min-height: 830.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 {
  position: absolute;
  width: 408.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #047E43;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_1 {
  position: absolute;
  width: 28.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_1 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_2 {
  position: absolute;
  width: 28.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_2 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 {
  position: absolute;
  width: 408.0px;
  min-height: 72.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #047E43;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 span {
  color: #047E43;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #047E43;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_4 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_5 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_6 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_3 {
  position: absolute;
  width: 29.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_3 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_4 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_5 {
  position: absolute;
  width: 29.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_5 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_6 {
  position: absolute;
  width: 29.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_6 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_7 {
  position: absolute;
  width: 29.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_7 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_8 {
  position: absolute;
  width: 29.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_8 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 {
  position: absolute;
  width: 408.0px;
  min-height: 702.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 {
  position: absolute;
  width: 365.0px;
  min-height: 184.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 {
  box-shadow: 7.0px 7.0px 5px 0px #999999;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_7 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 20.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 20.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_8 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 20.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_9 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_10 {
  position: absolute;
  width: 205.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_10 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_10 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_9 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_9 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 3.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 {
  box-shadow: -0.0px 3.0px 4px 0px #A0A0A0;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #047E43;
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 span {
  color: #047E43;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #047E43;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 {
  position: absolute;
  width: 365.0px;
  min-height: 184.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 {
  box-shadow: 7.0px 7.0px 5px 0px #999999;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_11 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_12 {
  position: absolute;
  width: 205.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_12 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_12 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_10 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_10 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 3.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 {
  box-shadow: -0.0px 3.0px 4px 0px #A0A0A0;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #047E43;
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 span {
  color: #047E43;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #047E43;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 {
  position: absolute;
  width: 365.0px;
  min-height: 184.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 {
  box-shadow: 7.0px 7.0px 5px 0px #999999;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 > .backgroundLayer {
  border-radius: 9px 9px 9px 9px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_13 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_14 {
  position: absolute;
  width: 205.0px;
  min-height: 1.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_14 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_14 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_11 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Image_11 {
  box-shadow: none;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 {
  position: absolute;
  width: 150.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 3.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 {
  box-shadow: -0.0px 3.0px 4px 0px #A0A0A0;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #047E43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #047E43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #047E43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #047E43;
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 .paddingLayer:first-child {
  padding-top: 2px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 span {
  color: #047E43;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d #s-Button_3 span#rtr-s-Button_3_0 {
  color: #047E43;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-da1dde3f-89ca-4889-82ea-c360bf470e8d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}