#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #backgroundBox {
  position: absolute;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #alignmentBox {
  position: relative;
  max-width: 408.0px;
  max-height: 830.0px;
  width: 100%;
  height: 100%;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_1 {
  position: absolute;
  width: 410.0px;
  height: 830.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_1 {
  box-shadow: 7.0px 7.0px 5px 0px #404040;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_1 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 18.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_1 marker {
  fill: #C0C0C0;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 232.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_1 {
  width: 232.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #C0C0C0;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_1 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_2 marker {
  fill: #C0C0C0;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 26.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_2 {
  width: 26.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #C0C0C0;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_2 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_2 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_2 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_2 {
  position: absolute;
  width: 137.0px;
  height: 136.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_2 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_2 > .backgroundLayer {
  border-radius: 68px 68px 68px 68px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 68px 68px 68px 68px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_2 > .backgroundLayer {
  border-radius: 68px 68px 68px 68px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_3 marker {
  fill: #C0C0C0;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 26.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_3 {
  width: 26.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #C0C0C0;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Line_3 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_3 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_4 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_5 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_6 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_7 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_8 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_9 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_10 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 {
  position: absolute;
  width: 53.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Thin',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 {
  position: absolute;
  width: 78.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Thin',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 {
  position: absolute;
  width: 78.0px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Thin',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #4A86E8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #4A86E8;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #4A86E8;
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 14.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_11 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 11.0pt;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_3 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_3 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_4 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_4 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_5 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_5 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_6 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_6 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_7 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_7 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_8 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_8 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_9 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_9 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_10 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_10 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_11 {
  position: absolute;
  width: 28.0px;
  height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_11 {
  box-shadow: none;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_12 {
  position: absolute;
  width: 150.0px;
  height: 725.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 #s-Image_12 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ef6f7c3c-e616-4446-8ae7-1c24313e2b75 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}